@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary: hsl(180, 29%, 50%);
  --background: hsl(180, 52%, 96%);
  --light-grayish-cyan-filter: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 100%, 96%);
}

body {
  font-family: 'League Spartan', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: var(--background);
}
::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #A6A6A6;
  border-radius: 10px;
  cursor: grab;
}


